* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
}

html {
    font-size: 62.5%;
    
}

body {
    
    min-height: 100vh;
    color: #FDFCDC;
    background: linear-gradient(#0081A7, #00AFB9);
    overflow: hidden;
}

header {

    display: flex;
    justify-content: center;
    margin-top: 1.6rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
}

footer { 
    margin-bottom: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer > h3 {

    font-size: 1.6rem;
    color: transparent;
    -webkit-text-stroke: 1px #FDFCDC;
    text-align: center;
    margin-top: 1.6rem;
}

button {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 3.2rem;
    background: #00AFB9;
    color: #FDFCDC;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #FDFCDC;
}

#front01 {
    display: none;
}

.techWord {
    font-size: 14px;
    font-weight: bolder;
    color: #ff9b94;
   
}

.headerContainer{
    display: flex;
    justify-content: flex-end;
    gap: 1.6rem;
    align-items: center;
    padding-block: 1.6rem;
    padding-inline: 2.4rem;
    width: 100%;
    max-width: 55.2rem;
}

.headerContainer > div {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.nameContainer{
    text-align: center;
}

.nameContainer > h1 {
    font-size: 2.4rem;
}

.nameContainer > h2 {
    font-size: 1.4rem;
    font-weight: normal;
    margin-bottom: 1.6rem;
}



#languageButtonPT, #languageButtonEN {
    width: 3.2rem;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

#languageButton:hover {
    color: #F07167;
}

.contactsContainer{
    background-color: #00AFB9;
    height: 11.2rem;
    width: 31.2rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.4rem;

}

.contactsContainer > div {

    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin-left: 3.3rem;
}

.contactsContainer > div > a {
    text-decoration: none;
    color: #FDFCDC;
    font-size: 1.4rem;
    font-weight: bold;
}

.presentationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 2.4rem;
    gap: 0.8rem;
    max-width: 36.4rem;
}

.presentationContainer > h3{

    font-size: 1.6rem;
}

.presentationContainer > p{

    font-size: 1.2rem;
    text-align: justify;
    
}

.projectsContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.projectsContainer > h3{

    font-size: 1.6rem;
    color: transparent;
    -webkit-text-stroke: 1px #FDFCDC;
    text-align: center;
}

.buttonProjetsContainer {
    width: calc(100vw - 4.8rem);
    padding-block: 1.6rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    max-width: 55.2rem;
    min-width: 31.2rem;
}

.buttonProjets {
    height: calc(3.2rem + 0.9vw);
    width: calc(9.6rem + 4vw);
    max-height: 4.8rem;
    max-width: 16.9rem;
    transition: width 0.1s linear;
}

button:hover {
    outline: 2px solid #F07167;
}


.projectsContainerImages {
    width: calc(100vw - 4.8rem);
    display: flex;
    gap: 1.6rem;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: scroll;
    margin-inline: 2.4rem;
    max-width: 55.2rem;
}

.projectImg {
    min-width: 25.2rem;
    max-height: 33rem;
    background-color: #FDFCDC;
    border: 4px solid #FDFCDC;
    border-radius: 5px;
    
}


.containerProject {
    position: relative;
}

.moreButtonProject {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    cursor: pointer;
}

.prevButtonProject{
    position: absolute;
    top: 4rem;
    left: 3.6rem;
   cursor: pointer
}

.containerInfo::before{
    /*width: calc(31.2rem - 3.2rem) ;*/
    width: calc(100% - 4.6rem);
    height: calc(32rem - 3.4rem) ;
    border: 2px solid #0081A7;
    content: '';
    position: absolute;
    display: flex;
    top: 2.2rem;
    left: 2.2rem;
    border-radius: 5px;
}

.containerInfo {
    width: calc(100% - 4.6rem);
    height: 33.4rem;
    background-color: #FDFCDC;
    color: #0081A7;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 3.2rem;
    position: absolute;
    text-align: justify;
    bottom: 0;
    opacity: 0;
    pointer-events: none; /* Não permite cliques quando invisível */
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.containerInfo.visible {
    opacity: 1;
    pointer-events: auto; /* Permite cliques quando visível */
}

.containerInfo > div {
    display: flex;
    padding: 1.6rem;
    flex-direction: column;
    align-items: center;
}

.containerInfo > div > h4 {
    text-align: center;
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
    
}

.containerInfo > div > p {
    max-width: 400px;
}

.linkIconProject {
    position: absolute;
    top: 4rem;
    right: 3.4rem;
    cursor: pointer;
    padding: 0.4rem;
}

#DownloadCbButton {
    width: 18.9rem;
    height: 5.4rem;
    font-size: 1.6rem;
    font-weight: bold;
}


.techsWrapper {
    display: flex;
    padding-block: 1rem;
    gap: 1.6rem;
    flex-wrap: wrap;
}

.techsWrapper > img {
   
    height: 2.4rem;
}

.techsIconsContainer {
    max-width: 80vw;
}

.techsIconsContainer[data-animated=true] {
    overflow: hidden;
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.techsIconsContainer[data-animated=true] .techsWrapper {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll 20s linear infinite;
}



@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}




@media (min-width: 1024px)  {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    header {
        width: 100vw;
        max-width: 102.4rem;
        justify-content: flex-end;
    }

    main {

        display:grid;
        grid-template-areas: 
        "name about"
        "projects projects"
        ;
        grid-template-columns: 1fr 1fr;
        width: 100vw;
        max-width: 102.4rem;
        justify-items: center;
        row-gap: 3.2rem;
    }

    .nameContainer > h1 { 
        font-size: 3.6rem;
    }

    .nameAndContactContainer {
        grid-area: name;
        justify-self: flex-start;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .headerContainer {
        padding-right: 0;
    }

    .presentationContainer {
        grid-area: about;
        justify-self: flex-end;
        padding: 0;
    }

    .projectsContainer {
        grid-area: projects;
        flex-direction: row;
        width: 102.4rem;
    }

    .projectsContainer > h3 {
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-size: 3.2rem;
        margin-left: -1.2rem;
    }

    .projectsContainerImages {
        margin-inline: 3.2rem;
        max-width: 100%;
        margin: 0;
        
    }

    .buttonProjetsContainer {
        display: flex;
        flex-direction: column;
        margin-left: 1.6rem;
        gap: 3.6rem;
        min-width: 23.4rem;
        max-width: 23.4rem;
    }

    .buttonProjets {
        min-width: calc(100% + 2.6rem)
    }

    .containerInfo {
        right: 0;
        top: 0;
        height: 34.8rem;
        margin-right: -1px;
        margin-top: -2px;
    }

    .prevButtonProject{
        left: 28rem;
    }

    .linkIconProject {
        right: 28rem;
    }

    .techsIconsContainer {
        max-width: 80rem;
    }

    /* Para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
    height: 8px; /* Altura da barra de rolagem horizontal */
    
}

::-webkit-scrollbar-thumb {
    background: #888; /* Cor do "thumb" (parte que se arrasta) */
    border-radius: 4px; /* Bordas arredondadas */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor ao passar o mouse */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do fundo da barra de rolagem */
    border-radius: 4px; /* Bordas arredondadas */
}

/* Para Firefox */
.scrollable {
    scrollbar-width: thin; /* Define a largura da barra de rolagem */
    scrollbar-color: #888 #f1f1f1; /* thumb e track */
    overflow-y: hidden;
}
    
}

.containerProjectProgress {
    min-width: 25.2rem;
    height: 33rem;
    background-color: #353535;
    border: 4px solid #FDFCDC;
    border-radius: 5px;
}


.projectProgress {
    display: flex;
    font-size: 2.4rem;
    margin-left: 4rem;
    align-items: center;
    
    height: 100%;
}

.projectProgress span {
    animation: loading 1s infinite;
    margin-top: 3rem;
    color: #FDFCDC;
}

.projectProgress span:nth-child(1) {
    animation-delay: 0s;
}

.projectProgress span:nth-child(2) {
    animation-delay: 0.2s;
}

.projectProgress span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes loading {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}


.back {
    display: none;
}

.fullstack {
    display: none;
}