* {

    font-family: 'Asap', sans-serif;
    margin : 0;
    border : 0;
    padding : 0;
    font-size: 1em;
    font-weight: 400;
}

*::-webkit-scrollbar {

    display: none;
    
}



body {

    position: relative;
    
}


main { 
    background-color: #242527;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

#mainContainer{

    height: 416px;
    width: 288px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 48px;
}

#mainContainer > button {

    height: 48px;
    width: 192px;
    background-color: transparent;
    border: 2px solid #F2352A;
    
}

#mainContainer > button > a{

    text-decoration: none;
    font-size: 14px;
    color: #F2352A;
    font-weight: 400;
    padding:16px 36px;
}

#mainContainer > button:hover {

    background-color: #F2352A;

    cursor: pointer;
}

#mainContainer > button > a:hover {

    
    color: #242527;
    font-weight: 600;
    cursor: pointer;
}


#infoContainer {

    width: 288px;
    height: 136px;
    color: #3FD3AD;

}

#infoContainer > * {
    height:48px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

#infoContainer > h1 {

    font-size: 34px;
    font-weight: 600;
}

#infoContainer > h3 {

    font-size: 20px;
    font-weight: 400;
}

#infoContainer > div {
    gap: 16px;
}

#infoContainer > div > a > img{
    width: 24px;
    height: 24px;
}

#aboutContainer {
    width: 288px;
    height: 136px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#aboutContainer > h4 {
    height: 48px;
    font-size: 20px;
    font-weight: 600;
    color: #FEB833;
}

#aboutContainer > p {
    
    text-indent: 32px;
    text-align: justify;
    font-size: 14px;
    color: #FFE8CE;
    font-weight: 400;
}

.techContainer {

    background-color: #242527;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    gap: 48px;
    grid-template-areas: 
        "techs description image"
    ;
    min-width: 360px;
   
    
}

.techsList {
    width: 306px;
    height: 544px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.topTechList {
    display: grid;
    height: 48px;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    color: #3FD3AD;
    font-size: 20px;
    align-content: center;
    
}

.topTechList > a > img {
    
    cursor: pointer;
    padding: 4px;
}

.topTechList > a > img:hover {
    outline: 2px solid #3FD3AD;
    border-radius: 50px;
    
}


.techs {

    max-width: 306px;
    height: 451px;
    border: 2px solid #3FD3AD;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    overflow: scroll;
}

.techs > div {
    display: flex;
    gap: 16px;
}

.tech {
    width: 129px;
    height: 129px;
    background-color: #3FD3AD;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    color: #242527;
    text-align: center;
}



.techDescription{
    width: 306px;
    height: 544px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.techDescription > div {

    display: grid;
    grid-template-columns: 248px 24px;
    align-items: center;
    justify-items: flex-end;
    width: 278px;

}

.techDescription > div > a {
    margin-top: 6px;
}

.techDescription > div > h2 {
    height: 48px;
    width: 238px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #FEB833;
    font-weight: 400;
    
    
}

.techDescription > p {
    height:  451px ;
    width: 278px;
    text-indent: 32px;
    text-align: justify;
    color: #FFE8CE;
    font-size: 14px;
    font-weight: 400;
}

.techImageContainer{
 
    border: 2px solid #F2352A;
    width: 306px;
    height: 544px;
    border-radius:15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.previewImg {

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-size: 32px;
    color: #F2352A;
    font-weight: bold;
    display: none;

}

.previewImg:hover {

    color: #FFE8CE;
}

.techImageContainer > img {
    width: 328px;
    height: 544px;
    border-radius: 15px;
}

.closePreviewImg {
    max-width: 24px;
    max-height: 24px;
    position: absolute;
    top: 16px;
    right: 16px;
    display: none;
}

.projectController {

    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    height: 48px;
    position: absolute;
    bottom: 58px;
    left: 50%;
    transform: translateX(-50%);
}

.projectController > button {
    border: none;
    background-color: transparent;
    width: 24px;
    height: 24px;
    cursor: pointer;

}

.projectController > button:hover {
    
    outline: 2px solid #FEB833;
    border-radius: 50px;
}

.projectController > div {
    background-color: #FFE8CE;
    width: 8px;
    height: 8px;
    border-radius: 50px;
}



#tech1Container {
    display: grid;
    
}

#tech2Container {
    display: none;
}

#tech3Container {
    display: none;
}

#tech4Container {
    display: none;
}

#tech5Container {
    display: none;
}

#alertAbout {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #242527;
    z-index: 2;
    opacity: 0.95;




    

}

#alertAbout > p {

    width: calc(100% - 32px);
    color: #FFE8CE;
    text-indent: 32px;
    text-align: justify;
    max-width: 328px;

}

#closeAbout {
    position: absolute;
    right: 10%;
    top: 10%;
    cursor: pointer;
    border-radius: 50px;
    padding: 4px;
}

#closeAbout:hover {
    outline: 1px solid #F2352A;
    
}

/*responsive*/

@media (max-width: 1023px){

    #tech1Container {
        display: grid;
        width: 100vw;
        
    }

    #tech2Container {
        display: none;
        width: 100vw;
        
    }

    #tech3Container {
        display: none;
        width: 100vw;
        
    }

    #tech4Container {
        display: none;
        width: 100vw;
        
    }

    #tech5Container {
        display: none;
        width: 100vw;
    }
    
    .techContainer {
        width: 100vw;
        height: 100vh;
        grid-template-columns: 306px 306px;
        grid-template-rows:229px 643px;
        grid-template-areas: 
            "description description"
            "techs image"
        ;
        gap: 44px;
        align-items: flex-start;
        
    }

    .techDescription {

        grid-area: description;
        width: 656px;
        height: 229px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;

    }
    
    .techDescription > h2 {

        margin-top: 48px;
    }

    .techDescription > p {

        width: 656px;
        height: 156px;
        text-indent: 32px;
        text-align: justify;
        color: #FFE8CE;
        font-size: 14px;
        font-weight: 400;
        
        
    }

    .techsList {
        grid-area: techs;
        width: 306px;
        height: 544px;
        
    }

    .techImageContainer {
        grid-area: image;
        
    }

    .projectController {
        bottom: 4%;
    }

    .topTechList > a > img {
    
        position: absolute;
        top: 16px;
    }
}

@media (max-width: 699px){


    
    .techContainer {
        width: 100vw;
        height: 100vh;
        grid-template-columns: 328px;
        grid-template-rows:190px 274px 74px;
        grid-template-areas: 
            "description"
            "techs"
            "image"
        ;
        gap: 0px;
       
        
    }

    .techDescription {

        grid-area: description;
        width: 328px;
        height: 190px;
        display: flex;
        justify-content: center;
        align-items: center;
       

    }
    
    .techDescription > h2 {

        margin-top: 32px;
    }

    .techDescription > p {

        width: 328px;
        height: 142px;
        text-indent: 16px;
        text-align: justify;
        color: #FFE8CE;
        font-size: 14px;
        font-weight: 400;
        
        
    }

    .techsList {
        grid-area: techs;
        width: 328px;
        height: 273px;
        justify-content: center;
        
    }

    .techImageContainer {
        grid-area: image;
        width: 328px;
        height: calc(100vh - 562px);
        margin-top: 16px;
        min-height: 74px;
        
    }

    .previewImg {

        display: block;

    }

    .projectController {
        bottom: 4%;
    }

    
    .topTechList > a > img {
        
        position: absolute;
        top: 16px;
        left: 16px;
        cursor: pointer;
        padding: 4px;
    }
    
    
    .techs {
        height: 225px;
        max-width: 296px;
        display: flex;
        flex-direction: row;
        padding: 16px;
        gap: 16px;
        align-self: center;
        justify-self: center;
        
    }
    
    .techs > div {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    .tech {
        width: 88px;
        height: 88px;
    }
    
   

}

